<template>
  <v-app>
    <div 
      v-if="sets.data.data['designshock'] == false && sets.data.data['iconshock'] == false && sets.data.data['templateshock'] == false"
      class="pa-5 ma-5"
    >
      <p>Your ShockFamily subscription has expired. In order to continue, downloading current and new products, please renew your account here:</p>
      <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick-subscriptions&business=fabbianni%40gmail.com&item_name=ShockFamily+Monthly+Subscription&currency_code=USD&notify_url=http%3A%2F%2Fwww.themeshock.com%2Fst_subscription_payment.php&t3=M&src=1&sra=1&modify=0&a1=14&p1=1&t1=M&a3=14&no_note=1&p3=1&no_shipping=1&return=http%3A%2F%2Fwww.themeshock.com%2Fcustomers%2Fcustomers.php&custom=aff_%7Cshk_1"><strong>Monthly subscription payment</strong></a>
      <br/><br/>
      <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick-subscriptions&business=fabbianni%40gmail.com&item_name=ShockFamily+Yearly+Subscription&currency_code=USD&notify_url=http%3A%2F%2Fwww.themeshock.com%2Fst_subscription_payment.php&t3=Y&src=1&sra=1&modify=0&a1=129&p1=1&t1=Y&a3=129&no_note=1&p3=1&no_shipping=1&return=http%3A%2F%2Fwww.themeshock.com%2Fcustomers%2Fcustomers.php&custom=aff_%7Cshk_2"><strong>Yearly subscription payment</strong></a>
      <br/><br/>
      <p>If you require further assistance, please contact us at hello@bypeople.com</p>  
    </div>
    <v-card color="basil">
      <v-tabs
        v-model="tab"
        color=#e00876
        right
      >
        <v-tab
          v-if="sets.data.data['designshock'] != false"
        >
          Designshock
        </v-tab>
        <v-tab
          v-if="sets.data.data['iconshock'] != false && (sets.data.data.iconshock).length <= 1"
        >
          Iconshock
        </v-tab>
        <v-tab
          v-if="sets.data.data['iconshock'] != false && (sets.data.data.iconshock).length > 1"
        >
          Iconshock
        </v-tab>
        <v-tab
          v-if="sets.data.data['templateshock'] != false"
        >
          Templateshock
        </v-tab>
      </v-tabs>

      <v-tabs-items v-model="tab">
        <v-tab-item 
          v-if="sets.data.data['designshock'] != false"
        >
          <v-card
            class="mx-auto"
            tile
          >
            <v-list flat>
              <v-list-item-group color="primary">
                <v-list-item
                  v-for="(set, index) in sets.data.data.designshock[0]"
                  :key="index"
                >
                  <v-list-item-content
                    v-if="index != 'from' && index != 'single' && index != 'isfinder'"
                  >
                    <v-list-item-title v-text="(set.ds_btn_paypal).toUpperCase()" class="mx-5"></v-list-item-title>
                  </v-list-item-content>
                  <v-btn 
                    link
                    color=grey
                    value="view"
                    :href="'https://www.designshock.com?p='+set.id"
                    target="_blank"
                    class="mx-5 white--text"
                    v-if="index != 'from' && index != 'single' && index != 'isfinder'"
                    style="text-decoration: none"
                  >
                    <span>View</span>
                  </v-btn>
                  <v-btn 
                    link
                    color=#e00876
                    value="download"
                    :href="'https://www.themeshock.com/dl_add_pack.php?'+set.ds_zip_full"
                    class="mx-5 white--text"
                    v-if="index != 'from' && index != 'single' && index != 'isfinder'"
                    style="text-decoration: none"
                  >
                    <span>Download</span>
                  </v-btn>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-card>
        </v-tab-item>

        <v-tab-item
          v-if="sets.data.data['iconshock'] != false && (sets.data.data.iconshock).length <= 1"
        >
          <v-card
            class="mx-auto"
            tile
          >
            <v-list flat>
              <v-list-item-group color="primary">
                <v-list-item
                  v-for="(set, index) in sets.data.data.iconshock[0]"
                  :key="index"
                >
                  <v-list-item-content
                    v-if="index != 'from' && index != 'single' && index != 'isfinder'"
                  >
                    <v-list-item-title v-text="(set.prod_name).toUpperCase()" class="mx-5"></v-list-item-title>
                  </v-list-item-content>
                  <v-btn 
                    link
                    color=grey
                    value="view"
                    :href="'https://www.iconshock.com/'+set.cat_slug+set.ind_slug"
                    target="_blank"
                    class="mx-5 white--text"
                    v-if="index != 'from' && index != 'single' && index != 'isfinder'"
                    style="text-decoration: none"
                  >
                    <span>View</span>
                  </v-btn>
                  <v-btn 
                    link
                    color=#e00876
                    value="download"
                    :href="'https://www.themeshock.com/customers/dl_new_2.php?'+String(set.prod_link_tuto).substr(18)"
                    class="mx-5 white--text"
                    v-if="index != 'from' && index != 'single' && index != 'isfinder'"
                    style="text-decoration: none"
                  >
                    <span>Download</span>
                  </v-btn>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-card>
        </v-tab-item>

        <v-tab-item
          v-if="sets.data.data['iconshock'] != false && (sets.data.data.iconshock).length > 1"
        >
          <v-card
            class="mx-auto"
            tile
          >
            <v-list flat
            v-for="(set, index) in sets.data.data.iconshock"
            :key="index"
            >
              <v-list-item-group color="primary"
              v-for="(set2, index) in set"
              :key="index"
              >
                <v-list-item
                  v-for="(set3, index) in set2"
                  :key="index"
                >
                  <v-list-item-content
                    v-if="index != 'from' && index != 'single' && index != 'isfinder'"
                  >
                    <v-list-item-title v-text="(set3.prod_name).toUpperCase()" class="mx-5"></v-list-item-title>
                  </v-list-item-content>
                  <v-btn 
                    link
                    color=grey
                    value="view"
                    :href="'https://www.iconshock.com/'+set3.cat_slug+set.ind_slug"
                    target="_blank"
                    class="mx-5 white--text"
                    v-if="index != 'from' && index != 'single' && index != 'isfinder'"
                    style="text-decoration: none"
                  >
                    <span>View</span>
                  </v-btn>
                  <v-btn 
                    link
                    color=#e00876
                    value="download"
                    :href="'https://www.themeshock.com/customers/dl_new_2.php?'+String(set3.prod_link_tuto).substr(18)"
                    class="mx-5 white--text"
                    v-if="index != 'from' && index != 'single' && index != 'isfinder'"
                    style="text-decoration: none"
                  >
                    <span>Download</span>
                  </v-btn>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-card>
        </v-tab-item>

        <v-tab-item
          v-if="sets.data.data['templateshock'] != false"
        >
          <v-card
            class="mx-auto"
            tile
          >
            <v-list flat>
              <v-list-item-group color="primary">
                <v-list-item
                  v-for="(set, index) in sets.data.data.templateshock[0]"
                  :key="index"
                >
                  <v-list-item-content
                    v-if="index != 'from' && index != 'single' && index != 'isfinder'"
                  >
                    <v-list-item-title v-text="(set.post_title).toUpperCase()" class="mx-5"></v-list-item-title>
                  </v-list-item-content>
                  <v-btn 
                    link
                    color=grey
                    value="view"
                    :href="'https://www.templateshock.com?p='+set.post_id"
                    target="_blank"
                    class="mx-5 white--text"
                    v-if="index != 'from' && index != 'single' && index != 'isfinder'"
                    style="text-decoration: none"
                  >
                    <span>View</span>
                  </v-btn>
                  <v-btn 
                    link
                    color=#e00876
                    value="download"
                    :href="'https://www.templateshock.com/secure-download?download_file=item/'+unserialize(set.meta_value)['item']"
                    class="mx-5 white--text"
                    v-if="index != 'from' && index != 'single' && index != 'isfinder'"
                    style="text-decoration: none"
                  >
                    <span>Download</span>
                  </v-btn>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </v-app>
</template>

<script>
import unserialize from '../modules/unserialize.js'

export default {
  data () {
    return {
      tab: null,
      sets: null
    }
  },
  mounted () {
    axios
      .get(process.env.MIX_APP_URL+'/api/')
      .then(response => {
        this.sets = response
      })
  },
  methods: {
    unserialize
  }
}
</script>